@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

html {
  scroll-behavior: smooth;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  html::-webkit-scrollbar {
    height: 0px; }
  html::-webkit-scrollbar-track {
    background: #272727; }
  html::-webkit-scrollbar-thumb {
    background: #30ed92; }

.wrapper-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  z-index: 6000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .wrapper-spinner .center-spinner {
    position: relative;
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px; }
    .wrapper-spinner .center-spinner .shape {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      transition: all 0.5s; }
    .wrapper-spinner .center-spinner .circle1 {
      width: 100%;
      height: 100%; }
      .wrapper-spinner .center-spinner .circle1 circle {
        animation: circle1Animation 0.5s infinite alternate-reverse; }
    .wrapper-spinner .center-spinner .circle2 {
      width: 50%;
      height: 50%; }
      .wrapper-spinner .center-spinner .circle2 circle {
        animation: circle2Animation 0.5s infinite alternate-reverse; }
    .wrapper-spinner .center-spinner .triangle {
      width: 20%;
      height: 20%;
      animation: triangleRotate 1.5s infinite linear; }
      .wrapper-spinner .center-spinner .triangle path {
        animation: triangleAnimation 0.5s infinite alternate-reverse; }

@keyframes circle1Animation {
  from {
    stroke: #ffd600; }
  to {
    stroke: #5524e2; } }

@keyframes circle2Animation {
  from {
    stroke: #5524e2; }
  to {
    stroke: #ffd600; } }

@keyframes triangleAnimation {
  from {
    fill: #5524e2; }
  to {
    fill: #ffd600; } }

@keyframes triangleRotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }

.header {
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.5s;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
  background: #242424;
  z-index: 1000; }
  .header .center-header {
    width: 90%; }
    .header .center-header .nav {
      display: flex; }
      .header .center-header .nav .link-nav-hero {
        text-decoration: none;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        display: flex;
        align-items: center;
        letter-spacing: 0.375em;
        text-transform: uppercase;
        color: #ffffff; }
        .header .center-header .nav .link-nav-hero:not(:first-child) {
          margin-left: 81px; }
        @media screen and (max-width: 1200px) {
          .header .center-header .nav .link-nav-hero {
            font-size: 15px;
            letter-spacing: 0.3em; }
            .header .center-header .nav .link-nav-hero:not(:first-child) {
              margin-left: 70px; } }
        @media screen and (max-width: 830px) {
          .header .center-header .nav .link-nav-hero {
            font-size: 12px;
            letter-spacing: 0.25em; }
            .header .center-header .nav .link-nav-hero:not(:first-child) {
              margin-left: 60px; } }
        @media screen and (max-width: 660px) {
          .header .center-header .nav .link-nav-hero {
            font-size: 10px;
            letter-spacing: 0.15em; }
            .header .center-header .nav .link-nav-hero:not(:first-child) {
              margin-left: 50px; } }
        @media screen and (max-width: 550px) {
          .header .center-header .nav .link-nav-hero {
            font-size: 8px;
            letter-spacing: 0.1em; }
            .header .center-header .nav .link-nav-hero:not(:first-child) {
              margin-left: 30px; } }

.wrapper-full {
  width: 100%;
  background-color: #1e1f1e;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wrapper-full .hero-section {
    width: 100%;
    padding: 20vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(39, 39, 39, 0.7), rgba(39, 39, 39, 0.7)), url(http://portafoliosfit.um.edu.mx/edgardedios/wp-content/uploads/sites/102/2020/04/pv.jpg) center no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
    .wrapper-full .hero-section .center-content-hero {
      width: 90%;
      max-width: 1700px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .wrapper-full .hero-section .center-content-hero .nav-hero {
        width: 100%;
        height: 5%;
        display: flex;
        margin-bottom: 50px; }
        .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero {
          text-decoration: none;
          font-family: Poppins;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          display: flex;
          align-items: center;
          letter-spacing: 0.375em;
          text-transform: uppercase;
          color: #ffffff; }
          .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero:not(:first-child) {
            margin-left: 81px; }
          @media screen and (max-width: 1200px) {
            .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero {
              font-size: 15px;
              letter-spacing: 0.3em; }
              .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero:not(:first-child) {
                margin-left: 70px; } }
          @media screen and (max-width: 830px) {
            .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero {
              font-size: 12px;
              letter-spacing: 0.25em; }
              .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero:not(:first-child) {
                margin-left: 60px; } }
          @media screen and (max-width: 660px) {
            .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero {
              font-size: 10px;
              letter-spacing: 0.15em; }
              .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero:not(:first-child) {
                margin-left: 50px; } }
          @media screen and (max-width: 550px) {
            .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero {
              font-size: 8px;
              letter-spacing: 0.1em; }
              .wrapper-full .hero-section .center-content-hero .nav-hero .link-nav-hero:not(:first-child) {
                margin-left: 30px; } }
      .wrapper-full .hero-section .center-content-hero .content-hero {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center; }
        .wrapper-full .hero-section .center-content-hero .content-hero .slider-container {
          position: relative;
          width: 100%;
          display: flex; }
          .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide {
            width: 100%;
            min-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: center; }
              .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio {
                position: relative;
                background: #111111;
                margin: 5px;
                scroll-snap-align: center;
                background-size: cover;
                background: no-repeat center;
                transition: all 0.5s;
                width: 49%;
                height: 500px; }
                .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio:hover {
                  transform: scale(1.01);
                  transition: all 0.5s;
                  cursor: pointer; }
                @media screen and (max-width: 1100px) {
                  .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio {
                    width: 49%;
                    margin: 4px; } }
                @media screen and (max-width: 905px) {
                  .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio {
                    width: 100%;
                    margin: 4px;
                    height: 400px; } }
                .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .button-open-math {
                  position: absolute;
                  padding: 5px 10px;
                  font-size: 13px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  background-color: #5272c6; }
                .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: flex-end;
                  background-size: cover !important; }
                  .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card {
                    width: 100%;
                    height: 50%;
                    padding: 10px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center; }
                    .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card {
                      width: 80%;
                      height: 90%;
                      display: flex;
                      flex-direction: column;
                      justify-content: center; }
                      @media screen and (max-width: 860px) {
                        .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card {
                          width: 95%;
                          height: 100%; } }
                      .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .title-card {
                        font-size: 20px;
                        line-height: 22px;
                        color: #ffffff;
                        text-transform: uppercase;
                        margin-bottom: 5px; }
                        @media screen and (max-width: 860px) {
                          .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .title-card {
                            font-size: 15px;
                            line-height: 15px; } }
                      .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .subtitle-card {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        text-transform: uppercase;
                        color: #ffffff;
                        margin-bottom: 2px; }
                        @media screen and (max-width: 860px) {
                          .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .subtitle-card {
                            font-size: 10px;
                            line-height: 10px; } }
                      .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .content-card {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        color: #ffffff;
                        max-height: 90px;
                        overflow-y: auto;
                        /* width */
                        /* Track */
                        /* Handle */
                        /* Handle on hover */ }
                        @media screen and (max-width: 860px) {
                          .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .content-card {
                            font-size: 10px;
                            line-height: 5px; } }
                        .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .content-card::-webkit-scrollbar {
                          height: 0px;
                          width: 0px; }
                        .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .content-card::-webkit-scrollbar-track {
                          background: #272727; }
                        .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .content-card::-webkit-scrollbar-thumb {
                          background: #30ed92; }
                        @media screen and (max-width: 1000px) {
                          .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .content-card {
                            font-size: 9px;
                            line-height: 10px;
                            overflow-y: auto; } }
                        @media screen and (orientation: landscape) and (max-height: 600px) {
                          .wrapper-full .hero-section .center-content-hero .content-hero .slider-container .slide .content-grid .item-portafolio .container-info .center-info-card .content-info-card .content-card {
                            font-size: 9px;
                            line-height: 10px;
                            overflow-y: auto; } }
        .wrapper-full .hero-section .center-content-hero .content-hero .title-page {
          position: relative;
          width: 100%;
          min-height: 55vh;
          display: flex; }
          .wrapper-full .hero-section .center-content-hero .content-hero .title-page h1 {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 96px;
            line-height: 110px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8);
            max-width: 800px; }
            @media screen and (max-width: 940px) {
              .wrapper-full .hero-section .center-content-hero .content-hero .title-page h1 {
                font-size: 86px;
                line-height: 134px; } }
            @media screen and (max-width: 824px) {
              .wrapper-full .hero-section .center-content-hero .content-hero .title-page h1 {
                font-size: 56px;
                line-height: 74px; } }
            @media screen and (max-width: 556px) {
              .wrapper-full .hero-section .center-content-hero .content-hero .title-page h1 {
                font-size: 36px;
                line-height: 54px; } }
            @media screen and (max-width: 360px) {
              .wrapper-full .hero-section .center-content-hero .content-hero .title-page h1 {
                font-size: 26px;
                line-height: 34px; } }
      .wrapper-full .hero-section .center-content-hero .portafolio-hero {
        width: 100%;
        height: 5%;
        display: flex; }
        .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero {
          text-decoration: none;
          font-family: Poppins;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          display: flex;
          align-items: center;
          letter-spacing: 0.375em;
          text-transform: uppercase;
          color: #ffffff; }
          .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero:not(:first-child) {
            margin-left: 81px; }
          @media screen and (max-width: 1200px) {
            .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero {
              font-size: 15px;
              letter-spacing: 0.3em; }
              .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero:not(:first-child) {
                margin-left: 70px; } }
          @media screen and (max-width: 830px) {
            .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero {
              font-size: 12px;
              letter-spacing: 0.25em; }
              .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero:not(:first-child) {
                margin-left: 60px; } }
          @media screen and (max-width: 660px) {
            .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero {
              font-size: 10px;
              letter-spacing: 0.15em; }
              .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero:not(:first-child) {
                margin-left: 50px; } }
          @media screen and (max-width: 550px) {
            .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero {
              font-size: 8px;
              letter-spacing: 0.1em; }
              .wrapper-full .hero-section .center-content-hero .portafolio-hero .link-portafolio-hero:not(:first-child) {
                margin-left: 30px; } }
  .wrapper-full .section-content-project {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center; }
    .wrapper-full .section-content-project .center-info-project {
      background: white;
      width: 90%;
      max-width: 800px; }
      .wrapper-full .section-content-project .center-info-project h1 {
        font-size: 50px;
        line-height: 60px;
        text-transform: uppercase;
        margin-top: 50px;
        margin-bottom: 30px; }
        @media screen and (max-width: 940px) {
          .wrapper-full .section-content-project .center-info-project h1 {
            font-size: 30px;
            line-height: 40px; } }
      .wrapper-full .section-content-project .center-info-project h2 {
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: #100f5c; }
        @media screen and (max-width: 940px) {
          .wrapper-full .section-content-project .center-info-project h2 {
            font-size: 20px;
            line-height: 20px; } }
      .wrapper-full .section-content-project .center-info-project p {
        font-weight: lighter;
        font-size: 15px;
        color: black;
        margin-bottom: 30px; }
        @media screen and (max-width: 940px) {
          .wrapper-full .section-content-project .center-info-project p {
            font-size: 11px; } }
      .wrapper-full .section-content-project .center-info-project ul,
      .wrapper-full .section-content-project .center-info-project ol {
        margin-bottom: 30px; }
        @media screen and (max-width: 940px) {
          .wrapper-full .section-content-project .center-info-project ul li,
          .wrapper-full .section-content-project .center-info-project ol li {
            font-size: 11px; } }
      .wrapper-full .section-content-project .center-info-project .content-button-doc {
        margin-bottom: 30px;
        width: 100%; }
        .wrapper-full .section-content-project .center-info-project .content-button-doc .button-doc {
          text-decoration: none;
          text-transform: uppercase;
          background: #f3e522;
          color: #1d1d1d;
          font-weight: bold;
          padding: 3px 10px;
          border-radius: 5px;
          border: solid black;
          transition: all 0.3s; }
          .wrapper-full .section-content-project .center-info-project .content-button-doc .button-doc:hover {
            transition: all 0.3s;
            background: black;
            color: #f3e522;
            border: solid #f3e522; }

.pop-up-materias {
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  transform: translateY(-101%);
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #303c41 0%, #303c41 80.21%, #303c41 100%);
  z-index: 2000;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .pop-up-materias::-webkit-scrollbar {
    height: 0px;
    width: 5px; }
  .pop-up-materias::-webkit-scrollbar-track {
    background: #272727; }
  .pop-up-materias::-webkit-scrollbar-thumb {
    background: #ed4c30; }
  .pop-up-materias .hero-pop {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #292929;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center; }
    .pop-up-materias .hero-pop::after {
      position: absolute;
      content: "Scroll down";
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -300%);
      z-index: 50;
      color: white;
      animation: scrollDownAnimate 0.9s alternate infinite; }

@keyframes scrollDownAnimate {
  from {
    transform: translate(-50%, -500%);
    opacity: 0; }
  to {
    transform: translate(-50%, -300%);
    opacity: 1; } }
    .pop-up-materias .hero-pop .center-content-hero {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%; }
      .pop-up-materias .hero-pop .center-content-hero .title-mat {
        color: white;
        text-align: center;
        justify-content: center;
        text-transform: uppercase; }
  .pop-up-materias .container-sections-mats {
    width: 100%;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pop-up-materias .container-sections-mats .section-mat {
      width: 100%; }
      .pop-up-materias .container-sections-mats .section-mat .section-content-activity {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5vh 5vw; }
        @media screen and (min-width: 8000px) {
          .pop-up-materias .container-sections-mats .section-mat .section-content-activity {
            min-height: 30vh; } }
        @media screen and (max-width: 900px) {
          .pop-up-materias .container-sections-mats .section-mat .section-content-activity {
            flex-direction: column-reverse;
            justify-content: flex-end;
            min-height: initial;
            padding: 6vh 4vw; } }
        .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity {
          width: 90%;
          max-width: 1300px;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          border-radius: 7px;
          background: #272727; }
          @media screen and (max-width: 700px) {
            .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity {
              width: 100%; } }
          .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity {
            width: 100%;
            background: #72f179;
            display: flex;
            overflow: hidden;
            /* width */
            /* Track */
            /* Handle */
            /* Handle on hover */ }
            .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity::-webkit-scrollbar {
              height: 10px;
              width: 5px; }
            .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity::-webkit-scrollbar-track {
              background: #272727; }
            .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity::-webkit-scrollbar-thumb {
              background: #30ed92; }
            @media screen and (max-width: 8000px) {
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity {
                min-height: 30vh; } }
            @media screen and (max-width: 5000px) {
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity {
                min-height: 50vh; } }
            @media screen and (max-width: 900px) {
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity {
                width: 100%;
                min-height: 50vh; } }
            @media screen and (orientation: landscape) and (max-height: 600px) {
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity {
                min-height: 70vh; } }
            .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity .silde-image-activity {
              background-color: #222222;
              min-width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: relative; }
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity .silde-image-activity .button-openImage {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(-50%, 50%);
                width: 50px;
                height: 50px;
                background: snow;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                cursor: pointer; }
                .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity .silde-image-activity .button-openImage .icon-open-image {
                  width: 90%;
                  height: 90%; }
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-slider-activity .silde-image-activity .image-activity {
                width: 100%;
                object-fit: cover; }
          .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .bar-buttons-images {
            height: 0px;
            background-color: #27272700;
            display: flex;
            justify-content: center;
            align-items: center; }
            .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .bar-buttons-images .buttons-images {
              transform: translateY(-100%);
              text-decoration: none;
              width: 40px;
              height: 40px;
              background-color: white;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              background: #272727;
              transition: all 0.5s; }
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .bar-buttons-images .buttons-images:not(:first-child) {
                margin-left: 5px; }
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .bar-buttons-images .buttons-images:hover {
                background: #67f2c0;
                color: #272727;
                transition: all 0.5s; }
          .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity {
            min-width: 100%;
            background-color: #272727;
            padding: 4vh 2vw;
            display: flex;
            flex-direction: column; }
            @media screen and (max-width: 900px) {
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity {
                width: 100%; } }
            @media screen and (max-width: 600px) {
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity {
                padding: 2vh 2vh; } }
            .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity .title-activity {
              font-style: normal;
              font-weight: 800;
              font-size: 48px;
              line-height: 72px;
              display: flex;
              align-items: center;
              letter-spacing: 0.5em;
              text-transform: uppercase;
              color: #ffffff; }
              @media screen and (max-width: 700px) {
                .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity .title-activity {
                  letter-spacing: 5px; } }
              @media screen and (max-width: 450px) {
                .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity .title-activity {
                  font-size: 30px;
                  line-height: 45px;
                  margin-bottom: 15px; } }
              @media screen and (orientation: landscape) and (max-height: 700px) {
                .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity .title-activity {
                  font-size: 30px; } }
            .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity .description-activity {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              display: flex;
              align-items: center;
              color: #ffffff; }
              @media screen and (max-width: 450px) {
                .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity .description-activity {
                  font-size: 11px; } }
              @media screen and (orientation: landscape) and (max-height: 700px) {
                .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity .description-activity {
                  font-size: 11px; } }
            .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity .button-code {
              text-decoration: none;
              margin-top: 50px;
              max-width: 150px;
              background-color: white;
              padding: 4px;
              color: black;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.5s; }
              .pop-up-materias .container-sections-mats .section-mat .section-content-activity .center-info-activity .content-info-activity .button-code:hover {
                transition: all 0.5s;
                color: white;
                background: seagreen; }
      .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity {
        width: 100%;
        padding: 5vh 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: #ffffff; }
        @media screen and (min-width: 8000px) {
          .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity {
            padding: 2vh 5vh; } }
        @media screen and (max-width: 800px) {
          .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity {
            align-items: center;
            padding: 5vh 5vh; } }
        .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity .title-reflexion {
          font-style: italic;
          font-weight: bold;
          font-size: 48px;
          line-height: 72px;
          /* identical to box height */
          display: flex;
          align-items: center;
          letter-spacing: 0.5em;
          text-transform: uppercase;
          color: #272727;
          margin-bottom: 10px; }
          @media screen and (max-width: 700px) {
            .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity .title-reflexion {
              letter-spacing: 5px; } }
          @media screen and (max-width: 450px) {
            .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity .title-reflexion {
              font-size: 30px;
              line-height: 45px;
              margin-bottom: 15px; } }
          @media screen and (orientation: landscape) and (max-height: 700px) {
            .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity .title-reflexion {
              font-size: 30px; } }
        .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity .reflexion-activity {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          display: flex;
          align-items: center;
          color: #ffffff;
          color: #1b1b1b; }
          @media screen and (max-width: 450px) {
            .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity .reflexion-activity {
              font-size: 11px; } }
          @media screen and (orientation: landscape) and (max-height: 700px) {
            .pop-up-materias .container-sections-mats .section-mat .section-reflexion-activity .reflexion-activity {
              font-size: 11px; } }

.close-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 3000;
  cursor: pointer;
  transition: all 0.5s; }
  .close-popup:hover {
    transition: all 0.5s;
    transform: scale(1.1); }
  .close-popup svg {
    width: 100%;
    height: 100%; }

.pop-up-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.596);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 4000; }
  .pop-up-image .content-image-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    /* Aumentamos la anchura y altura durante 2 segundos */ }
    .pop-up-image .content-image-selected .image-pop-up {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: width 1s, height 1s, transform 1s;
      -moz-transition: width 2s, height 2s, -moz-transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      -o-transition: width 2s, height 2s, -o-transform 2s; }
      .pop-up-image .content-image-selected .image-pop-up:hover {
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        /* Chrome - Safari */ }
