@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;

    /* width */
    &::-webkit-scrollbar {
        // width: 10px;
        height: 0px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #272727;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #30ed92;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        // background: #555;
    }
}

.wrapper-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    z-index: 6000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .center-spinner {
        position: relative;
        width: 20vw;
        height: 20vw;
        min-width: 200px;
        min-height: 200px;
        // background-color: rgb(54, 51, 50);

        .shape {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            transition: all 0.5s;
        }

        .circle1 {
            width: 100%;
            height: 100%;

            circle {
                animation: circle1Animation 0.5s infinite alternate-reverse;
            }
        }
        .circle2 {
            width: 50%;
            height: 50%;
            circle {
                animation: circle2Animation 0.5s infinite alternate-reverse;
            }
        }
        .triangle {
            width: 20%;
            height: 20%;
            animation: triangleRotate 1.5s infinite linear;
            path {
                animation: triangleAnimation 0.5s infinite alternate-reverse;
            }
        }

        @keyframes circle1Animation {
            from {
                stroke: #ffd600;
            }
            to {
                stroke: #5524e2;
            }
        }

        @keyframes circle2Animation {
            from {
                stroke: #5524e2;
            }
            to {
                stroke: #ffd600;
            }
        }

        @keyframes triangleAnimation {
            from {
                fill: #5524e2;
            }
            to {
                fill: #ffd600;
            }
        }
        @keyframes triangleRotate {
            from {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            to {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }
}

.header {
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: all 0.5s;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
    background: rgb(36, 36, 36);
    z-index: 1000;

    .center-header {
        width: 90%;
        .nav {
            display: flex;
            .link-nav-hero {
                text-decoration: none;
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;

                display: flex;
                align-items: center;
                letter-spacing: 0.375em;
                text-transform: uppercase;

                color: #ffffff;

                &:not(:first-child) {
                    margin-left: 81px;
                }

                @media screen and (max-width: 1200px) {
                    font-size: 15px;
                    letter-spacing: 0.3em;
                    &:not(:first-child) {
                        margin-left: 70px;
                    }
                }
                @media screen and (max-width: 830px) {
                    font-size: 12px;
                    letter-spacing: 0.25em;
                    &:not(:first-child) {
                        margin-left: 60px;
                    }
                }
                @media screen and (max-width: 660px) {
                    font-size: 10px;
                    letter-spacing: 0.15em;
                    &:not(:first-child) {
                        margin-left: 50px;
                    }
                }
                @media screen and (max-width: 550px) {
                    font-size: 8px;
                    letter-spacing: 0.1em;
                    &:not(:first-child) {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

.wrapper-full {
    width: 100%;
    background-color: rgb(30, 31, 30);
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-section {
        width: 100%;
        // max-width: 2560px;
        padding: 20vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, rgba(39, 39, 39, 0.7), rgba(39, 39, 39, 0.7)),
            url(http://portafoliosfit.um.edu.mx/edgardedios/wp-content/uploads/sites/102/2020/04/pv.jpg) center
                no-repeat fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .center-content-hero {
            width: 90%;
            max-width: 1700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .nav-hero {
                width: 100%;
                height: 5%;

                display: flex;

                .link-nav-hero {
                    text-decoration: none;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;

                    display: flex;
                    align-items: center;
                    letter-spacing: 0.375em;
                    text-transform: uppercase;

                    color: #ffffff;

                    &:not(:first-child) {
                        margin-left: 81px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 15px;
                        letter-spacing: 0.3em;
                        &:not(:first-child) {
                            margin-left: 70px;
                        }
                    }
                    @media screen and (max-width: 830px) {
                        font-size: 12px;
                        letter-spacing: 0.25em;
                        &:not(:first-child) {
                            margin-left: 60px;
                        }
                    }
                    @media screen and (max-width: 660px) {
                        font-size: 10px;
                        letter-spacing: 0.15em;
                        &:not(:first-child) {
                            margin-left: 50px;
                        }
                    }
                    @media screen and (max-width: 550px) {
                        font-size: 8px;
                        letter-spacing: 0.1em;
                        &:not(:first-child) {
                            margin-left: 30px;
                        }
                    }
                }

                margin-bottom: 50px;
            }
            .content-hero {
                width: 100%;
                // height: 90%;
                position: relative;
                display: flex;
                align-items: center;
                .slider-container {
                    position: relative;
                    width: 100%;
                    display: flex;

                    .slide {
                        width: 100%;
                        min-width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .content-grid {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;

                            .item-portafolio {
                                position: relative;
                                background: rgb(17, 17, 17);
                                margin: 5px;
                                scroll-snap-align: center;
                                background-size: cover;
                                background: no-repeat center;
                                transition: all 0.5s;
                                width: 49%;
                                height: 500px;
                                &:hover {
                                    transform: scale(1.01);
                                    transition: all 0.5s;
                                    cursor: pointer;
                                }
                                @media screen and (max-width: 1100px) {
                                    width: 49%;
                                    margin: 4px;
                                }
                                @media screen and (max-width: 905px) {
                                    width: 100%;
                                    margin: 4px;
                                    height: 400px;
                                }

                                .button-open-math {
                                    position: absolute;
                                    // width: 100px;
                                    // height: 40px;
                                    padding: 5px 10px;
                                    font-size: 13px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: white;

                                    background-color: #5272c6;

                                    @media screen and (max-width: 800px) {
                                        // width: 90%;
                                        // height: 90%;
                                    }
                                }

                                .container-info {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: flex-end;
                                    background-size: cover !important;
                                    .center-info-card {
                                        width: 100%;
                                        height: 50%;
                                        padding: 10px 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        .content-info-card {
                                            width: 80%;
                                            height: 90%;

                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;

                                            @media screen and(max-width:860px) {
                                                width: 95%;
                                                height: 100%;
                                                // background-color: rgb(242, 244, 96);
                                            }

                                            .title-card {
                                                font-size: 20px;
                                                line-height: 22px;
                                                color: #ffffff;
                                                text-transform: uppercase;
                                                margin-bottom: 5px;
                                                @media screen and(max-width:860px) {
                                                    font-size: 15px;
                                                    line-height: 15px;
                                                }
                                            }

                                            .subtitle-card {
                                                font-style: normal;
                                                font-weight: 400;
                                                font-size: 15px;
                                                text-transform: uppercase;
                                                color: #ffffff;
                                                margin-bottom: 2px;
                                                @media screen and(max-width:860px) {
                                                    font-size: 10px;
                                                    line-height: 10px;
                                                }
                                            }

                                            .content-card {
                                                font-style: normal;
                                                font-weight: normal;
                                                font-size: 13px;
                                                line-height: 15px;
                                                color: #ffffff;
                                                max-height: 90px;
                                                overflow-y: auto;

                                                @media screen and(max-width:860px) {
                                                    font-size: 10px;
                                                    line-height: 5px;
                                                }

                                                /* width */
                                                &::-webkit-scrollbar {
                                                    // width: 10px;
                                                    height: 0px;
                                                    width: 0px;
                                                }

                                                /* Track */
                                                &::-webkit-scrollbar-track {
                                                    background: #272727;
                                                }

                                                /* Handle */
                                                &::-webkit-scrollbar-thumb {
                                                    background: #30ed92;
                                                }

                                                /* Handle on hover */
                                                &::-webkit-scrollbar-thumb:hover {
                                                    // background: #555;
                                                }
                                                @media screen and (max-width: 1000px) {
                                                    font-size: 9px;
                                                    line-height: 10px;

                                                    overflow-y: auto;
                                                }
                                                @media screen and (orientation: landscape) and (max-height: 600px) {
                                                    font-size: 9px;
                                                    line-height: 10px;
                                                    overflow-y: auto;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .title-page {
                    position: relative;
                    width: 100%;
                    min-height: 55vh;

                    display: flex;

                    h1 {
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 96px;
                        line-height: 110px;
                        display: flex;
                        align-items: center;
                        text-transform: uppercase;
                        color: rgba(255, 255, 255, 0.8);

                        max-width: 800px;

                        @media screen and (max-width: 940px) {
                            font-size: 86px;
                            line-height: 134px;
                        }
                        @media screen and (max-width: 824px) {
                            font-size: 56px;
                            line-height: 74px;
                        }
                        @media screen and (max-width: 556px) {
                            font-size: 36px;
                            line-height: 54px;
                        }
                        @media screen and (max-width: 360px) {
                            font-size: 26px;
                            line-height: 34px;
                        }
                    }
                }
            }
            .portafolio-hero {
                width: 100%;
                height: 5%;
                display: flex;
                .link-portafolio-hero {
                    text-decoration: none;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;

                    display: flex;
                    align-items: center;
                    letter-spacing: 0.375em;
                    text-transform: uppercase;

                    color: #ffffff;

                    &:not(:first-child) {
                        margin-left: 81px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 15px;
                        letter-spacing: 0.3em;
                        &:not(:first-child) {
                            margin-left: 70px;
                        }
                    }
                    @media screen and (max-width: 830px) {
                        font-size: 12px;
                        letter-spacing: 0.25em;
                        &:not(:first-child) {
                            margin-left: 60px;
                        }
                    }
                    @media screen and (max-width: 660px) {
                        font-size: 10px;
                        letter-spacing: 0.15em;
                        &:not(:first-child) {
                            margin-left: 50px;
                        }
                    }
                    @media screen and (max-width: 550px) {
                        font-size: 8px;
                        letter-spacing: 0.1em;
                        &:not(:first-child) {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }

    .section-content-project {
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        .center-info-project {
            background: rgb(255, 255, 255);
            width: 90%;
            max-width: 800px;

            h1 {
                font-size: 50px;
                line-height: 60px;
                text-transform: uppercase;
                margin-top: 50px;
                margin-bottom: 30px;

                @media screen and (max-width: 940px) {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            h2 {
                font-size: 30px;
                line-height: 30px;
                text-transform: uppercase;
                margin-bottom: 15px;
                color: rgb(16, 15, 92);
                @media screen and (max-width: 940px) {
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            p {
                font-weight: lighter;
                font-size: 15px;
                color: rgb(0, 0, 0);
                margin-bottom: 30px;
                @media screen and (max-width: 940px) {
                    font-size: 11px;
                }
            }
            ul,
            ol {
                margin-bottom: 30px;
                li {
                    @media screen and (max-width: 940px) {
                        font-size: 11px;
                        // line-height: 20px;
                    }
                }
            }
        }
    }
}

.pop-up-materias {
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    transform: translateY(-101%);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #303c41 0%, #303c41 80.21%, #303c41 100%);
    z-index: 2000;
    /* width */
    &::-webkit-scrollbar {
        // width: 10px;
        height: 0px;
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #272727;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #ed4c30;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        // background: #555;
    }

    .hero-pop {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-color: rgb(41, 41, 41);
        // background: linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)),
        //   url(../../media/image/IAhero.png) center no-repeat;
        // background: linear-gradient(178.94deg, rgba(170, 170, 170, 0) 1.56%, #303C41 90.44%), url(../../media/image/IAhero.png);

        background-size: cover !important;
        display: flex;
        justify-content: center;
        align-items: center;
        // display: none;

        &::after {
            position: absolute;
            content: "Scroll down";
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -300%);
            z-index: 50;
            color: white;
            animation: scrollDownAnimate 0.9s alternate infinite;
        }

        @keyframes scrollDownAnimate {
            from {
                transform: translate(-50%, -500%);
                opacity: 0;
            }
            to {
                transform: translate(-50%, -300%);
                opacity: 1;
            }
        }

        .center-content-hero {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;

            .title-mat {
                color: white;
                text-align: center;
                justify-content: center;

                text-transform: uppercase;
            }
        }
    }

    .container-sections-mats {
        width: 100%;
        max-width: 2560px;
        // background: #a01919;
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-mat {
            width: 100%;

            .section-content-activity {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: slateblue;
                padding: 5vh 5vw;

                @media screen and (min-width: 8000px) {
                    min-height: 30vh;
                }

                @media screen and (max-width: 900px) {
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                    min-height: initial;
                    padding: 6vh 4vw;
                }

                .center-info-activity {
                    width: 90%;
                    max-width: 1300px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    border-radius: 7px;
                    background: #272727;
                    @media screen and (max-width: 700px) {
                        width: 100%;
                    }
                    .content-slider-activity {
                        // position: relative;
                        width: 100%;
                        // height: 50vh;
                        background: rgb(114, 241, 121);
                        display: flex;
                        // flex-direction: column;
                        overflow: hidden;

                        // overflow-x: scroll;
                        // overflow-y: hidden;
                        // scroll-snap-type: x proximity;
                        // scroll-behavior: smooth;

                        /* width */
                        &::-webkit-scrollbar {
                            // width: 10px;
                            height: 10px;
                            width: 5px;
                        }

                        /* Track */
                        &::-webkit-scrollbar-track {
                            background: #272727;
                        }

                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            background: #30ed92;
                        }

                        /* Handle on hover */
                        &::-webkit-scrollbar-thumb:hover {
                            // background: #555;
                        }

                        @media screen and (max-width: 8000px) {
                            min-height: 30vh;
                        }
                        @media screen and (max-width: 5000px) {
                            // width: 100%;
                            min-height: 50vh;
                        }
                        @media screen and (max-width: 900px) {
                            width: 100%;
                            min-height: 50vh;
                        }
                        @media screen and (orientation: landscape) and(max-height:600px) {
                            // width: 100%;
                            min-height: 70vh;
                        }

                        .silde-image-activity {
                            background-color: rgb(34, 34, 34);
                            min-width: 100%;
                            // height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: relative;

                            .button-openImage {
                                position: absolute;
                                top: 0;
                                right: 0;
                                transform: translate(-50%, 50%);
                                width: 50px;
                                height: 50px;
                                background: snow;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 4px;
                                cursor: pointer;
                                .icon-open-image {
                                    width: 90%;
                                    height: 90%;
                                }
                            }
                            .image-activity {
                                // height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .bar-buttons-images {
                        height: 0px;
                        background-color: #27272700;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .buttons-images {
                            transform: translateY(-100%);
                            text-decoration: none;
                            width: 40px;
                            height: 40px;
                            background-color: white;
                            border-radius: 100%;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            color: rgb(255, 255, 255);
                            background: #272727;
                            transition: all 0.5s;
                            &:not(:first-child) {
                                margin-left: 5px;
                            }

                            &:hover {
                                background: #67f2c0;
                                color: #272727;
                                transition: all 0.5s;
                            }
                        }
                    }

                    .content-info-activity {
                        min-width: 100%;
                        background-color: #272727;
                        padding: 4vh 2vw;
                        display: flex;
                        flex-direction: column;
                        @media screen and (max-width: 900px) {
                            width: 100%;
                        }

                        @media screen and (max-width: 600px) {
                            padding: 2vh 2vh;
                        }

                        .title-activity {
                            font-style: normal;
                            font-weight: 800;
                            font-size: 48px;
                            line-height: 72px;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.5em;
                            text-transform: uppercase;
                            color: #ffffff;
                            @media screen and (max-width: 700px) {
                                letter-spacing: 5px;
                            }
                            @media screen and (max-width: 450px) {
                                font-size: 30px;
                                line-height: 45px;
                                margin-bottom: 15px;
                            }

                            @media screen and (orientation: landscape) and (max-height: 700px) {
                                font-size: 30px;
                            }
                        }

                        .description-activity {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                            color: #ffffff;
                            @media screen and (max-width: 450px) {
                                font-size: 11px;
                            }

                            @media screen and (orientation: landscape) and (max-height: 700px) {
                                font-size: 11px;
                            }
                        }

                        .button-code {
                            text-decoration: none;
                            margin-top: 50px;
                            max-width: 150px;
                            background-color: rgb(255, 255, 255);
                            padding: 4px;
                            color: rgb(0, 0, 0);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.5s;
                            &:hover {
                                transition: all 0.5s;
                                color: white;
                                background: seagreen;
                            }
                        }
                    }
                }
            }
            .section-reflexion-activity {
                width: 100%;
                padding: 5vh 10vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                background: #ffffff;

                @media screen and (min-width: 8000px) {
                    padding: 2vh 5vh;
                }
                @media screen and (max-width: 800px) {
                    align-items: center;
                    padding: 5vh 5vh;
                }

                .title-reflexion {
                    font-style: italic;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 72px;
                    /* identical to box height */

                    display: flex;
                    align-items: center;
                    letter-spacing: 0.5em;
                    text-transform: uppercase;

                    color: #272727;

                    margin-bottom: 10px;

                    @media screen and (max-width: 700px) {
                        letter-spacing: 5px;
                    }
                    @media screen and (max-width: 450px) {
                        font-size: 30px;
                        line-height: 45px;
                        margin-bottom: 15px;
                    }

                    @media screen and (orientation: landscape) and (max-height: 700px) {
                        font-size: 30px;
                    }
                }

                .reflexion-activity {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    color: #ffffff;

                    color: #1b1b1b;
                    @media screen and (max-width: 450px) {
                        font-size: 11px;
                    }

                    @media screen and (orientation: landscape) and (max-height: 700px) {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

.close-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 3000;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        transition: all 0.5s;
        transform: scale(1.1);
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.pop-up-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(20, 20, 20, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 4000;
    .content-image-selected {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 80%;

        /* Aumentamos la anchura y altura durante 2 segundos */

        .image-pop-up {
            width: 100%;
            height: 100%;
            object-fit: contain;

            transition: width 1s, height 1s, transform 1s;
            -moz-transition: width 2s, height 2s, -moz-transform 2s;
            -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
            -o-transition: width 2s, height 2s, -o-transform 2s;

            &:hover {
                /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
                transform: scale(1.4);
                -webkit-transform: scale(1.4); /* Chrome - Safari */
            }
        }
    }
}
